div{
    background-color: green;
    width: 200px;
    height: 200px;
    border: 10px solid gray;
    margin: 20px;
}

.box{
    box-shadow: 0 0 0 5px purple, 0 0 0 10px red;
    text-shadow: 5px 5px 5px royalblue;
    background-image: linear-gradient(to right, yellow, brown);
}
.transform{
    /*transform: translate(200px, 50px) scale(2, 0.5) rotate(15deg) skew(15deg, 5deg);
    transform-origin: top center;*/
    transition: width 3s;
}

.transform:hover{
    background-color: purple;
    width: 400px;
}

img{
    filter: greyscale(100%);
}